body {
    padding-top: 100px;
}

@media (max-width: 970px) {
    .navbar-header {
        height: 100px;
    }
}

@media (min-width: 970px) {

    .navbar {
        height: 100px;
    }

    .nav li a {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.navbar {
    border-bottom: none;
}

.mini-cart {
    color: #ddd;
    width: 300px;
    position: fixed;
    top: 100px;
    right: 0;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    padding: 13px;
    z-index: 100;
    background-color: #222;
}